.container {
	@include desktop {
		width: 90%;
		margin: 0 auto;
	}
}

.config {
	@include tablet {
		width: 10%;
		border: solid 1px #333;
		border-radius: 5px;
		padding: 1em;
	}
}

.player {
	background-color: #111;
	&.disconnected {
		color: #EEE;
		text-align: center;
	}

	&::before {
		display: block;
		content: "";
		// 16 by 9 aspect ratio
		padding-top: percentage(9 / 16);
	}

	@include tablet {
		width: 80%;
	}
}