.container {
	@include desktop {
		width: 80%;
		margin: 0 auto;
	}

	@include desktop-xl {
		width: 70%;
	}
}

.config {
	@include tablet {
		float: right;
		width: $config-width - 2em;
		border: solid 1px #333;
		border-radius: 5px;
		padding: 1em;
	}

	@include desktop {
		width: $config-width-desktop - 2em;
	}
}

.player {
	background-color: #111;
	&.disconnected {
		color: #EEE;
		text-align: center;
	}

	&::before {
		display: block;
		content: "";
		// 16 by 9 aspect ratio
		padding-top: percentage(9 / 16);
	}

	@include tablet {
		margin-right: $config-width + $config-distance;
	}

	@include desktop {
		margin-right: $config-width-desktop + $config-distance;
	}
}