body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: 1em;
}

h1 {
	margin-bottom: 0.1em;
	font-size: 2em;

	@include tablet {
		margin-bottom: 0.2em;
		font-size: 2.5em;
	}

	@include desktop {
		margin-bottom: 0.3em;
		font-size: 3em;
	}
}

.subtext {
	font-size: 0.5em;
	font-weight: normal;

	display: block;
	@include tablet {
		display: inline;
	}
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}